/* Reset */
html,body {margin:0;padding:0}
h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,cite,code,del,dfn,em,img,q,s,samp,small,strike,strong,sub,sup,tt,var,dd,dl,dt,li,ol,ul,fieldset,form,label,legend,button,table,caption,tbody,tfoot,thead,tr,th,td {margin:0;padding:0;border:0;font-weight:normal;font-style:normal;font-size:100%;line-height:1;font-family:inherit}
table {border-collapse:collapse;border-spacing:0}
ol,ul {list-style:none}
q:before,q:after,blockquote:before,blockquote:after {content:""}
html {overflow-y:scroll;font-size:100%;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
a:focus {outline:thin dotted}
a:hover,a:active {outline:0}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section {display:block}
audio,canvas,video {display:inline-block;*display:inline;*zoom:1}
audio:not([controls]) {display:none}
sub,sup {font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sup {top:-0.5rem}
sub {bottom:-0.25em}
img {border:0;-ms-interpolation-mode:bicubic}
button,input,select,textarea {font-size:100%;margin:0;vertical-align:baseline;*vertical-align:middle}
button,input {line-height:normal;*overflow:visible}
button::-moz-focus-inner,input::-moz-focus-inner {border:0;padding:0}
button,input[type="button"],input[type="reset"],input[type="submit"] {cursor:pointer;-webkit-appearance:button}
input[type="search"] {-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration {-webkit-appearance:none}
textarea {overflow:auto;vertical-align:top}
body {width:100%;*zoom:1}
body:before,body:after {content:"";display:table}
body:after {clear:both}

/* Styles */
body {
    background-color: #000;
    padding-bottom: 3rem;
    font-size: 13px;
    color: #fff;
    font-family: "Helvetica Neue", sans-serif
}

h1 {
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-size: 1.5rem;
    color: #ddd;
    padding: 1rem
}

a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: #9C00BA;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-weight: 900
}

a:hover {
    color: #ddd
}

header.main {
    position: relative;
    margin: 0 auto 2em;
    max-width: 980px;
    width: 100%;
    background: no-repeat url(img/bert_the_movie.jpg) top left;
    height: 550px
}

header.main h1, header.main h2 {
    text-indent: -999999px;
    overflow: hidden
}

header.main a {
    display: block;
    position: absolute;
    bottom: 2em;
    left: 1.7em;
    width: 242px;
    height: 20px;
    padding-top: 152px;
    background: #000 no-repeat url(img/bert_the_movie.jpg) left -750px;
    -moz-box-shadow: 0px 0px 5px #333333;
    -webkit-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 5px #333333;
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 130%;
    line-height: 115%
}

header.main #notice {
    color: #ddd;
    position: absolute;
    padding: 1rem 2em;
    background-color: rgba(0,0,0,0.7);
    top: 0;
    left: 0;
}

header.main #quotes li {
    position: absolute;
    right: 1rem;
    bottom: 2em;
    padding: 1rem;
    width: 60%;
    font-size: 160%;
    line-height: 150%;
    text-align: right;
    font-family: "Donegal One", serif;

    opacity: 0;
    transition: opacity 1s ease-in-out;
}

header.main #quotes li span {
    font-size: 70%;
    font-family: "Helvetica Neue", sans-serif
}

nav {
    margin: 0 0 1rem 0;
    text-align: center;
    font-size: 200%;
    position: relative;
}

nav li {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 9px;
}

nav li:first-child {
    margin-left: 0;
}

nav li a, nav li a:hover, nav li a:visited, nav li a:link, nav li a:active {
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(#000));
}

#trailer section {
    height: 480px;
}

.cast {
    height: 190px;
    max-width: 980px;
    width: 100%;
    margin: 0 auto 2em;
}

.cast li {
    width: 228px;
    height: 188px;
    background: no-repeat url(img/bert_the_movie.jpg) left -563px;
    float: left;
    margin-right: 38px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.cast li.actor-1 {
    width: 193px;
}

.cast li.actor-2 {
    background-position: -195px -563px;
}

.cast li.actor-3 {
    width: 216px;
    background-position: -432px -562px;
}

.cast li.actor-4 {
    background-position: -649px -563px;
    margin-right: 0
}

footer {
    font-family: 'PT Sans Narrow', sans-serif;
    font-weight: 400;
    font-size: 100%;
    text-transform: uppercase;
    text-align: center;
    clear: both;
}

footer em {
    font-size: 150%;
}

footer em.title {
    text-transform: none;
}

footer dl {
    height: 20px;
    margin: 2em 5px 2em auto;
}

footer dl dt,footer dl dd {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    vertical-align: bottom;
}

footer dl dt {
    margin: 0 5px;
}

footer dl dd {
    background: no-repeat url(img/bert_the_movie.jpg) bottom right;
    text-indent: -100px;
    overflow: hidden;
    width: 20px;
}

footer dl dd.twitter {
    background-position: right -863px;
}

footer dl dd.youtube {
    background-position: right -843px;
}

footer dl a {
    display: block;
    width: 100%;
    height: 100%;
}

.dialog {
    display:  none;
    background-color: #333333;
    padding: 1rem;
    -moz-box-shadow: 0px 0px 5px #333333;
    -webkit-box-shadow: 0px 0px 5px #333333;
    box-shadow: 0px 0px 5px #333333;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -400px;
    margin-top: -350px;
    width: 800px;
}

.dialog header {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
}

.dialog header h1 {
    font-size: 150%;
    font-family: "Lato", "Helvetica Neue", sans-serif;
    color: #ddd;
    padding: 0;
    -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(#000));
}

.dialog .close {
    float: right;
    line-height: 150%;
    background: none;
    color: #9C00BA;
}

.dialog .close:hover {
    color: #ddd;
}

section iframe {
    width: 100%;
    height: 100%;
}

form label,form input,form textarea {
    display: block;
    margin: 1rem 0 0;
}

form input[type=text],form textarea {
    font-family: "Helvetica Neue", sans-serif;
    border: 1px solid #eee;
    padding: .5rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
    box-shadow: inset 1px 1px 3px rgba(0,0,0,0.3);
}

form input[type=text]:focus,form textarea:focus {
    outline: none;
}

form textarea {
    width: 600px;
}

form input[type=submit] {
    color: #fff;
    padding: .5rem 1rem;
    border: 1px solid #690087;
    background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuMCIgeDI9IjEuMCIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzljMDBiYSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzY5MDA4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==");
    background: -webkit-gradient(linear, 0% 0%, 100% 100%, color-stop(0%, #9c00ba), color-stop(100%, #690087));
    background: -moz-linear-gradient(top left, #9c00ba, #690087);
    background: -webkit-linear-gradient(top left, #9c00ba, #690087);
    background: linear-gradient(to bottom right, #9c00ba, #690087);
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
    -webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5),inset 0px 0px 2px rgba(255,255,255,0.7);
    text-shadow: 0px -1px 0px rgba(0,0,0,0.4),0px 1px 0px rgba(255,255,255,0.3);
}

.carousel {
    position: relative;
    overflow: hidden;
    height: 480px;
}

.carousel ol {
    width: 20000px;
    position: absolute;
    left: 0;
    transition: left 1s ease-in-out;
}

.carousel ol li {
    width: 800px;
    float: left;
    position: relative;
}

.carousel article {
    height: 448px;
    padding: 1rem 2.5rem;
}

.carousel nav {
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.carousel nav a,.carousel nav a:link {
    color: #fff;
    font-weight: normal;
    font-family: "Helvetica Neue", sans-serif;
    padding: 1rem;
    display: block;
}

.carousel li:first-of-type .previous {
    display: none;
}

.carousel li:last-of-type .next {
    display: none;
}

#jose_montesinos img,
#giovannie_espiritu img,
#ryan_johnson img,
#jeneta_st_clair img,
#alex_arleo img,
#brian_rodvien img,
#matthew_zipkin img {
    margin-top: 5.5rem;
}

#gallery ol li {
    text-align: center;
    position: relative;
    background-color: #000;
    height: 480px;
}

#gallery ol li figure,
#gallery ol li img {
    margin: 0;
    height: 100%;
}

#gallery ol li figure img {
    vertical-align: bottom;
    display: inline-block;
}

#gallery ol li figure figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem 0;
    background-color: rgba(0,0,0,0.3);
    font-family: "Helvetica Neue", sans-serif;
}

#gallery nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#gallery nav a,#gallery nav a:link {
    width: 10%;
}

#gallery nav a.previous, #gallery nav a:link.previous {
    float: left;
}

#gallery nav a.next,#gallery nav a:link.next {
    float: right;
}

#updates ol {
    height: 100%;
    overflow-y: auto;
}

article {
    padding: 1rem;
    background-color: #222222;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 1rem;
    font-size: 110%;
    line-height: 150%;
    overflow-y: hidden;
}

article p {
    line-height: 150%;
    margin-bottom: 1rem;
    margin-top: .5rem;
}

article em {
    font-style: italic;
    font-weight: 900;
    color: #ee9;
}

article strong {
    font-weight: 900;
    color: #ee9;
}

article h1,article h2 {
    font-family: "Lato", "Helvetica Neue", sans-serif;
    font-weight: 900;
    color: #9C00BA;
    font-size: 150%;
    margin-bottom: 1rem;
    padding: 0;
}

article h2 {
    font-size: 120%;
    color: #ddd;
    font-style: italic;
}

article hgroup h1 {
    margin-bottom: .5rem;
}

article hgroup h2 {
    margin-bottom: 1.5rem;
}

article .time,article time {
    float: right;
}

article img {
    float: right;
    max-height: 450px;
    margin-left: 10px;
}

#cast_crew nav {
    position: static;
}

#cast_crew nav a {
    height: 476px;
    line-height: 476px;
    position: absolute;
    font-size: 150%;
    font-weight: bold;
    top: 0;
    width: 1.3em;
    padding: 0;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    color: #9C00BA;
}

#cast_crew nav a:hover {
    color: #ddd;
    background-color: rgba(0,0,0,0.5);
}

#cast_crew nav .previous {
    left: 0;
}

#cast_crew nav .next {
    right: 0;
}
