%header
  %h1 BERT
  %h2 the emotion picture

%nav
  %ul
    %li Story
    %li Cast/Crew
    %li Gallery
    %li Soundtrack
    %li Updates
    %li Contact

%footer
  %p <em>Montanick Pictures</em> presents a <em>Jose MONTESINOS</em> production <em class="title">&ldquo;BERT the emotion picture&rdquo;</em>
  %p <em>Andre MEADOWS Morgan BENOIT Jeneta ST CLAIR Myko OLIVIER Erin KONSTANTINE</em>
  %p with <em>Giovannie ESPIRITU Lisa YOUNGER</em> and <em>David ATWOOD</em> Music by <em>Brian RODVIEN</em>
  %p Written, Produced, &amp; Directed by <em>Jose MONTESINOS</em>
  %p www.montanick.com <em>&copy;2012 Montanick Pictures</em>
