@import 'grid.css.scss';
@import 'compass/css3';
@import url(http://fonts.googleapis.com/css?family=Lato:900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

$columns: 12;
$column-width: 60;
$gutter-width: 0;
$total-width: 100%;

$black: #000;
$white: #fff;
$bright-color: #9C00BA;
$grey: #111;
$dark-blue: #394E67;

@mixin title() {
  color: $bright-color;
  font-family: 'Lato' 'Helvetica Neue' sans-serif;
  font-weight: 900;
  @include text-shadow(0 1px 1px rgba(255, 255, 255, .7), 0 12px 24px rgba(0,0,0,.4));
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,1)));
}

body {
  font-family: 'Helvetica Neue' sans-serif;
  font-size: .9em;
  background-color: $black;
  color: $white;
  padding-bottom: 3em;
}

header {
  text-indent: -999999px;
  overflow: hidden;
  margin: 0 auto 2em;
  width: 980px;

  background: no-repeat image-url("bert_the_movie.jpg") top center;
  height: 550px;
}

nav {
  margin: 0 0 1em 0;
  text-align: center;
  font-size: 200%;
  text-transform: uppercase;

  li {
    display: inline-block;
    @include title;
  }
}

.cast {
  height: 190px;
  width: 980px;
  margin: 0 auto 1em;

  li {
    width: 228px;
    height: 188px;
    background: no-repeat image-url("bert_the_movie.jpg") bottom left;
    float: left;
    margin-right: 38px;

    &.actor-1 {
      width: 193px;
    }

    &.actor-2 {
      background-position: -195px bottom;
    }

    &.actor-3 {
      width: 216px;
      background-position: -432px bottom;
    }

    &.actor-4 {
      background-position: -649px bottom;
      margin-right: 0;
    }
  }
}

footer {
  font-family: 'PT Sans Narrow';
  font-weight: 900;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;

  em {
    font-size: 150%;

    &.title {
      text-transform: none;
    }
  }
}
