@import 'grid.css.scss';
@import 'compass/css3';
@import url(http://fonts.googleapis.com/css?family=Lato:900);
@import url(http://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700);

$columns: 12;
$column-width: 60;
$gutter-width: 0;
$total-width: 100%;

$black: #000;
$white: #fff;
$link-color: #9C00BA;
$hover-color: #ddd;

@mixin custom-text-shadow() {
  -webkit-mask-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0,0,0,0.5)), to(rgba(0,0,0,1)));
}

body {
  font-family: 'Helvetica Neue' sans-serif;
  font-size: .9em;
  background-color: $black;
  color: $white;
  padding-bottom: 3em;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: $link-color;
  font-family: 'Lato';
  font-weight: 900;
}

a:hover {
  color: $hover-color;
}

header {
  position: relative;
  margin: 0 auto 2em;
  width: 980px;

  background: no-repeat image-url("bert_the_movie.jpg") top center;
  height: 550px;

  h1, h2 {
    text-indent: -999999px;
    overflow: hidden;
  }

  a {
    display: block;
    position: absolute;
    bottom: 2em;
    left: 1.7em;
    width: 242px;
    height: 20px;
    padding-top: 152px;
    background: #000 no-repeat image-url("bert_the_movie.jpg") left -750px;
    @include box-shadow();
    overflow: hidden;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    font-size: 130%;
    line-height: 115%;
  }

  #notice {
    color: $hover-color;
    position: absolute;
    padding: 1em 2em;
    background-color: rgba(0,0,0,.7);
    top: 0;
    left: 0;
  }
}

nav {
  margin: 0 0 1em 0;
  text-align: center;
  font-size: 200%;
  position: relative;

  li {
    text-transform: uppercase;
    display: inline-block;
    margin-left: 15px;

    &:first-child {
      margin-left: 0;
    }

    a, a:hover, a:visited, a:link, a:active {
      @include custom-text-shadow();
    }
  }
}

.cast {
  height: 190px;
  width: 980px;
  margin: 0 auto 2em;

  li {
    width: 228px;
    height: 188px;
    background: no-repeat image-url("bert_the_movie.jpg") left -563px;
    float: left;
    margin-right: 38px;

    &.actor-1 {
      width: 193px;
    }

    &.actor-2 {
      background-position: -195px -563px;
    }

    &.actor-3 {
      width: 216px;
      background-position: -432px -562px;
    }

    &.actor-4 {
      background-position: -649px -563px;
      margin-right: 0;
    }
  }
}

footer {
  font-family: 'PT Sans Narrow';
  font-weight: 400;
  font-size: 100%;
  text-transform: uppercase;
  text-align: center;

  em {
    font-size: 150%;

    &.title {
      text-transform: none;
    }
  }

  dl {
    margin: 2em auto;
    height: 20px;
    margin-right: 5px;

    dt, dd {
      display: inline-block;
      height: 20px;
      line-height: 20px;
      vertical-align: bottom;
    }

    dt {
      margin: 0 5px;
    }

    dd {
      background: no-repeat image-url("bert_the_movie.jpg") bottom right;
      text-indent: -100px;
      overflow: hidden;
      width: 20px;

      &.twitter {
        background-position: right -863px;
      }
      &.youtube {
        background-position: right -843px;
      }
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

section {
  display: none;

  iframe {
    width: 100%;
    height: 100%;
  }
}

.ui-dialog {
  background-color: $black + #333;
  padding: 0 1em 1em 1em;
  @include box-shadow();

  .ui-dialog-titlebar {
    padding: 1em 0;

    .ui-dialog-title {
      font-size: 150%;
      font-family: 'Lato';
      color: $hover-color;
      @include custom-text-shadow();
    }

    .ui-dialog-titlebar-close {
      float: right;
      line-height: 150%;
    }
  }


  h3 {
    font-family: 'Lato';
    font-size: 150%;
    padding-top: 3em;
    text-align: center;
  }
}

form {
  label, input, textarea {
    display: block;
    margin: 1em 0 0;
  }

  input[type=text], textarea {
    font-family: 'Helvetica Neue' sans-serif;

    border: 1px solid #eee;
    padding: .5em;
    @include border-radius(5px);
    @include box-shadow(inset 1px 1px 3px rgba(0,0,0,0.3));
    &:focus {
      outline: none;
    }
  }

  textarea {
    width: 600px;
  }

  input[type=submit] {
    color: $white;
    padding: .5em 1em;
    border: 1px solid $link-color -#333;
    @include background(linear-gradient(top left, $link-color, $link-color -#333));
    @include border-radius(5px);
    @include box-shadow(0px 1px 3px rgba(000,000,000,0.5), inset 0px 0px 2px rgba(255,255,255,0.7));
    @include text-shadow(0px -1px 0px rgba(000,000,000,0.4), 0px 1px 0px rgba(255,255,255,0.3));
  }
}

#gallery {
  position: relative;
  overflow: hidden;

  ol {
    height: 476px;
    width: 20000px;
    position: absolute;

    li {
      height: 476px;
      width: 800px;
      float: left;
      text-align: center;
      position: relative;
      background-color: $black;

      figure, img {
        margin: 0;
        width: 100%;
      }

      figure {
        img {
          vertical-align: bottom;
          display: inline-block;
        }

        figcaption {
          position: absolute;
          bottom: 0;
          width: 100%;
          padding: 1em 0;
          background-color: rgba(0,0,0,.3);
        }
      }
    }
  }

  nav {
    font-size: 100%;
    position: absolute;
    bottom: 0;
    width: 98%;
    padding: 0 1%;

    a, a:link {
      color: #fff;
      font-weight: normal;
      font-family: 'Helvetica Neue' sans-serif;
    }

    .previous { float: left; }
    .next { float: right; }
  }
}
